@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  }
}

.app-bg {
  @apply px-4 min-h-screen sm:px-0 space-y-8 w-full bg-gray-900 ;
  background-image: radial-gradient(hsla(0, 0%, 84.3%, 0.25) 1px, transparent 0),
    radial-gradient(hsla(0, 0%, 84.3%, 0.1) 1px, transparent 0);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  -webkit-animation: slide 2s linear infinite;
  animation: slide 4s linear infinite;
}

@keyframes slide {
  100% {
    background-position: 50px 0, 125px 25px;
  }
}

@layer components {
  .header {
    @apply pt-4 z-10 relative  ;
    animation: bounce 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }

  .header-top-title {
    @apply text-2xl sm:text-4xl leading-none font-bold tracking-tight text-purple-400;
  }

  .header-context {
    @apply text-[gold] opacity-75;
  }

  .header-title {
    @apply text-4xl lg:text-6xl leading-none font-extrabold tracking-tight mb-8 sm:mb-10 text-transparent bg-clip-text bg-gradient-to-br from-purple-400 to-purple-800;
  }

  @keyframes bounce {
    40% {
      -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transform: translateY(20px) rotate(-1deg);
      transform: translateY(20px) rotate(-1deg);
    }
  }

}